<style>
	
	nav {
		background-color: #fff;
		margin-bottom: 3em;
		position: fixed;
	}
</style>
<nav class="navbar navbar navbar-expand navbar-light fixed-top">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img alt="" src="https://mosooklimo.vercel.app/static/media/logo.8fd79381a12f148ae097.png" width="90" height="50" class="d-inline-block align-top">
		</a>
		<div class="justify-content-end navbar-collapse collapse">
			<select id="languages" name="languages">
			    <option value="en">English</option>
			    <option value="ar">Arabic - العربية</option>
			    <option value="hi">Hindi - हिन्दी</option>
			    
			    <option value="es">Spanish - español</option>
			    <option value="pt">Portuguese - português</option>
			    <option value="bn">Bengali - বাংলা</option>
			    <option value="ru">Russian - русский</option>
			    <option value="ja">Japanese - 日本語</option>
			    <option value="pa">Punjabi - ਪੰਜਾਬੀ</option>
			</select>
			<span class="navbar-text">
				<a href="https://www.google.com" style="text-decoration: none; color: black; font-size: 1rem; letter-spacing: 2px; font-weight: 500; padding-left: 5px;">
				| Helpdesk</a>
			</span>
		</div>
	</div>
</nav>